In [11]:
!ls

active_enrolled_providers.ipynb
case_0.3_review_module.ipynb
licensed_healthcare_facilities.ipynb
licensed_mental_health_facilities_dataset.ipynb
physicians-high-level-analysis.ipynb
residential_mentalhealth_programs.ipynb
Working-on-Narcisos-data.ipynb

# INSTRUCTIONS
1. Import csv as dataframe (we have 3)
2. count number of unique entries
- Race CSV: number and identify of different race/ethnicity
- Languages CSV: number and identify different of languages spoken by physicians
- Specialty CSV: number and identify different specialties by physicians
3. Combine month and year columns into a dateframe friendly one column
4. Discuss what is different and decide what to disseminate, clean up
5. Clean-up in action
6. Deliverable: cleaned-up dataframe

7. Create a d

In [12]:
#suggest to use absolute paths at all times, relative paths will get hardcoded and not work when things are moved

In [13]:
# 1. physically locate your file in the notebook, go to the jupyter page 
# 2.

In [14]:
pwd

'/home/jovyan/diverse-healthcare/notebooks'

# Step 1

In [16]:
import pandas as pd
data_race = pd.read_csv

In [18]:
import pandas as pd
data_race = pd.read_csv("/home/jovyan/diverse-healthcare/data/Physicians-data/Physicians-by-race-and-practice-location/physicians-and-surgeons-by-race-ethnicity-and-practice-location-.csv")

In [19]:
data_race.head()

,Month,Year,Primary Practice County,Race/Ethnicity,Count of Licensees
0,March,2016,Alameda,African-American/Black/African,148
1,March,2016,Alameda,American Indian/ Native America,6
2,March,2016,Alameda,Asian - Cambodian,1
3,March,2016,Alameda,Asian - Chinese,284
4,March,2016,Alameda,Asian - Indian,273

In [21]:
type(data_race)

pandas.core.frame.DataFrame

In [22]:
len(data_race)

892

In [23]:
#dataf.describe()

# Step 2: Group by County

In [46]:
# Examine by column
# Month/Year columns: nothing to clean up; remove
# Primary Practice County column: check for "alameda" vs "Alameda", mispelling
# Race column: keep everything except: ("decline to state", "no bubble...", and "other") and combine to "Other/NA"
# Count column: check for NA

In [25]:
data_race_group=data_race.groupby(["Primary Practice County"])

In [31]:
data_race_group.count()

                         Month  Year  Race/Ethnicity  Count of Licensees
Primary Practice County
Alameda                     26    26              26                  26
Alpine                       1     1               1                   1
Amador                       6     6               6                   6
Butte                       16    16              16                  16
Calaveras                    5     5               5                   5
Colusa                       3     3               3                   3
Contra Costa                25    25              25                  25
Del Norte                    2     2               2                   2
El Dorado                   13    13              13                  13
Fresno                      25    25              25                  25
Glenn                        2     2               2                   2
Humboldt                    11    11              11                  11
Imperial                    17    17              17                  17
Inyo                         1     1               1                   1
Kern                        23    23              23                  23
Kings                       17    17              17                  17
Lake                        11    11              11                  11
Lassen                       4     4               4                   4
Los Angeles                 33    33              33                  33
Madera                      16    16              16                  16
Marin                       20    20              20                  20
Mariposa                     1     1               1                   1
Mendocino                    9     9               9                   9
Merced                      22    22              22                  22
Modoc                        1     1               1                   1
Mono                         3     3               3                   3
Monterey                    22    22              22                  22
Napa                        20    20              20                  20
Nevada                      12    12              12                  12
Orange                      29    29              29                  29
Placer                      24    24              24                  24
Plumas                       3     3               3                   3
Riverside                   29    29              29                  29
Sacramento                  29    29              29                  29
San Benito                   7     7               7                   7
San Bernardino              29    29              29                  29
San Diego                   28    28              28                  28
San Francisco               28    28              28                  28
San Joaquin                 24    24              24                  24
San Luis Obispo             19    19              19                  19
San Mateo                   25    25              25                  25
Santa Barbara               22    22              22                  22
Santa Clara                 27    27              27                  27
Santa Cruz                  20    20              20                  20
Shasta                      13    13              13                  13
Siskiyou                     3     3               3                   3
Solano                      20    20              20                  20
Sonoma                      21    21              21                  21
Stanislaus                  23    23              23                  23
Sutter                      14    14              14                  14
Tehama                       5     5               5                   5
Trinity                      1     1               1                   1
Tulare                      22    22              22                  22
Tuolumne                     6     6               6                   6
Ventura                     25    25              25                  25
Yolo                        18    18              18                  18
Yuba                        11    11              11                  11

In [36]:
data_race['Race/Ethnicity'].nunique()

33

In [37]:
data_race['Race/Ethnicity'].unique()

array(['African-American/Black/African',
       'American Indian/ Native America', 'Asian - Cambodian',
       'Asian - Chinese', 'Asian - Indian', 'Asian - Indonesian',
       'Asian - Japanese', 'Asian - Korean', 'Asian - Other Asian',
       'Asian - Pakistani', 'Asian - Thai', 'Asian - Vietnamese',
       'Caucasian/White/European/Middle', 'Decline To State',
       'Latino/Hispanic - Central American', 'Latino/Hispanic - Cuban',
       'Latino/Hispanic - Mexican', 'Latino/Hispanic - Other Hispanic',
       'Latino/Hispanic - Puerto Rican',
       'Latino/Hispanic - South American', 'Malaysian',
       'Native Hawaiian - Filipino', 'Native Hawaiian - Hawaiian',
       'No Bubble Marked For Ethnic Background', 'Other', 'Taiwanese',
       'Native Hawaiian - Guamanian', 'Asian - Laotian/Hmong',
       'Native Hawaiian - Other Pacific', 'Native Hawaiian - Fijian',
       'Native Hawaiian - Samoan', 'Native Hawaiian - Tongan',
       'Singaporean'], dtype=object)

In [40]:
sorted(data_race['Race/Ethnicity'].unique())

['African-American/Black/African',
 'American Indian/ Native America',
 'Asian - Cambodian',
 'Asian - Chinese',
 'Asian - Indian',
 'Asian - Indonesian',
 'Asian - Japanese',
 'Asian - Korean',
 'Asian - Laotian/Hmong',
 'Asian - Other Asian',
 'Asian - Pakistani',
 'Asian - Thai',
 'Asian - Vietnamese',
 'Caucasian/White/European/Middle',
 'Decline To State',
 'Latino/Hispanic - Central American',
 'Latino/Hispanic - Cuban',
 'Latino/Hispanic - Mexican',
 'Latino/Hispanic - Other Hispanic',
 'Latino/Hispanic - Puerto Rican',
 'Latino/Hispanic - South American',
 'Malaysian',
 'Native Hawaiian - Fijian',
 'Native Hawaiian - Filipino',
 'Native Hawaiian - Guamanian',
 'Native Hawaiian - Hawaiian',
 'Native Hawaiian - Other Pacific',
 'Native Hawaiian - Samoan',
 'Native Hawaiian - Tongan',
 'No Bubble Marked For Ethnic Background',
 'Other',
 'Singaporean',
 'Taiwanese']

In [44]:
data_race["Primary Practice County"].nunique()

57

In [45]:
sorted(data_race['Primary Practice County'].unique())

['Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'Contra Costa',
 'Del Norte',
 'El Dorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'Los Angeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'San Benito',
 'San Bernardino',
 'San Diego',
 'San Francisco',
 'San Joaquin',
 'San Luis Obispo',
 'San Mateo',
 'Santa Barbara',
 'Santa Clara',
 'Santa Cruz',
 'Shasta',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']